<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 articles-list">
    <% @articles.each do |article| %>
      <div class="row list">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <%= link_to article_path(article) do %>
            <div class="title"><%= article.title %></div>
        <% end %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="published-at pull-right"><%= article.published_at.strftime('%F') %></div>
        </div>
      </div>
    <% end %>

    <%= paginate @articles %>
  </div>
</div>