@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker.min";
@import 'variables';
@import 'sessions';
@import 'articles';

html {
  min-height: 100%;
  display: flex;
  color: $black;
  font-size: 14px;
}

body {
  font-size: 1rem;
  height: 100%;
  color: $black;
  //overflow-y: scroll;
  //margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  a {
    color: #2E2E2E;
  }
  .hidden {
    display: none;
  }
  .container {
  }
}



.nav-row {
  &.row {
    margin: 0;
  }
  .nav-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #000033;
    color: white;
    .user {
      margin-right: 10px;
    }
    a.log-out {
      color: white;
      margin-right: 10%;
      &:visited, &:link, &:active, &:hover {
        color: white;
        text-decoration: none;
      }
      &:hover {
        color: #00CCFF;
      }
    }
    .search {
      display: flex;
      align-items: center;
      margin-right: 40px;
      cursor: pointer;
      input {
        margin-right: 10px;
        border-radius: 5px;
        color: #000033;
      }
    }
    .post {
      margin-right: 40px;
      a {
        color: white;
        &:visited, &:link, &:active, &:hover {
          color: white;
          text-decoration: none;
        }
        &:hover {
          color: #00CCFF;
        }
      }
    }
    .title {
      margin-right: 40px;
    }
  }
}


table.table {
  thead tr th, tbody tr td {
    text-align: center;
    vertical-align: middle;
  }
}


