$gray: #F2F2F2;
$blue: #40bafd;
$black: #2E2E2E;
$red: #FA5858;
$dark_gray: #ADADAD;
$middle_gray: #E1E1E1;
$blue_green: #00CACA;
$dark_red: #A52A2A;
$gray_pink: #F9F9F9;
$orange: #ee9d1f;
$gold: #807C55;
$blue_gray: #DFECED;
$sky_blue: #14C8D2;
$light_sky_blue: #D0E9ED;
$light_gray_blue: #f4f8f9;